<?xml version="1.0"?>
<configuration>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
  <connectionStrings>
    <add name="BollyWoodGossipCon" connectionString="data source=MPATEL-PC\SQLEXPRESS;initial catalog=BollywoodGossip_Prod;Integrated Security=SSPI" providerName="System.Data.SqlClient"/>
    <add name="ErrorLogCon" connectionString="data source=MPATEL-PC\SQLEXPRESS;initial catalog=BollywoodGossip_Prod;Integrated Security=SSPI" providerName="System.Data.SqlClient"/>
    <!--<add name="BollyWoodGossipCon" connectionString="data source=MPATEL-PC\SQLEXPRESS;initial catalog=GujNews;Integrated Security=SSPI" providerName="System.Data.SqlClient"/>-->
  </connectionStrings>
  <appSettings>
    <add key="GenerateSearchIndex" value="0" />
    <add key="SaveXML" value="0" />
    <add key="DefaultTimezone" value="India Standard Time" />
    <add key="SearchIndexDirectoryPath" value="C:\Parth\SearchIndex" />
  </appSettings>
</configuration>
