<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="chilkat-win32" version="9.5.0.39" targetFramework="net451" requireReinstallation="True" />
  <package id="chilkat-x64" version="9.5.0.39" targetFramework="net451" requireReinstallation="True" />
  <package id="HtmlAgilityPack" version="1.4.6" targetFramework="net35" requireReinstallation="True" />
  <package id="Lucene.Net" version="3.0.3" targetFramework="net40" />
  <package id="SharpZipLib" version="0.86.0" targetFramework="net40" />
</packages>