<?xml version="1.0"?>
<configuration>
  <appSettings>
	<add key="GoogleAPIKey" value="AIzaSyCO_SKxbHh-fnBukzSc3YiZwPSpxeAvFNo"/>
  </appSettings>
  <connectionStrings>
    <add name="BollyWoodGossipCon" connectionString="Data Source=CLI-PP-001;Initial Catalog=BollywoodGossip;User Id=BGUser;Password=bguser2651;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
