<?xml version="1.0"?>
<configuration>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
  <connectionStrings>
    <add name="ErrorLogCon" connectionString="data source=CLI-PP-001;Initial Catalog=BollywoodGossip;User Id=BGUser;Password=bguser2651;" providerName="System.Data.SqlClient"/>
    <add connectionString="Data Source=CLI-PP-001;Initial Catalog=BollywoodGossip;User Id=BGUser;Password=bguser2651;" name="BollyWoodGossipCon" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="GenerateSearchIndex" value="0" />
    <add key="SaveXML" value="0" />
    <add key="DefaultTimezone" value="India Standard Time" />
    <add key="SearchIndexDirectoryPath" value="C:\BGService\SearchIndex" />
  </appSettings>
</configuration>
