<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="GoogleAPIKey" value="AIzaSyCFtFA6xibK9Ol1SDRimfK8kSofVqZSh3A"/>
  </appSettings>
  <connectionStrings>
    <add name="BollyWoodGossipCon" connectionString="data source=MPATEL-PC\SQLEXPRESS;initial catalog=BollywoodGossip;Integrated Security=SSPI" providerName="System.Data.SqlClient"/>
  </connectionStrings>
<startup>
  <!--<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>-->
</startup></configuration>
